<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Book</h1>
    <a href="/create" >Create New Book</a>
    <center></center>
    <br><br><br>
    <table class="book-table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        <% for(var i=0; i < books.length; i++) {%>
        <tr>
            <td><%= books[i].title %></td>
            <td><%= books[i].author %></td>
            <td class="link-center">
                <a href="/book/<%= books[i].id %>">View</a>
                <a href="/update/<%= books[i].id %>">Edit</a>
                <a href="/delete/<%= books[i].id %>">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
    
</body>
</html>